{% extends 'base.html.twig' %}
{% block content %}
    {{ parent() }}
    <div class="card-group">
        <table class="table table-bordered table-hover table-gray">
            <thead>
                <tr>
                    <td>Naam</td>
                    <td>Kosten</td>
                    <td>Bewerk</td>
                </tr>
            </thead>
            <tbody>
            {% for training in trainingen %}
                <tr>
                    <td>{{ training.naam }}</td>
                    <td>&euro;{{ training.costs }}</td>
                    <td><a href="{{ path('medewerker_training_edit', {
                            training: training.id
                        }) }}" class="btn btn-outline-primary btn-sm text-black">Bewerk</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
