{% block nav %}
    <nav class="container navbar navbar-expand-lg navbar-light bg-light py-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm" href="{{ path('homepage') }}">Home</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm" href="{{ path('training_aanbod') }}">Training aanbod</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm" href="">Lid worden</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm" href="{{ path('gedragsregels') }}">Gedragsregels</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link btn btn-outline-primary mr-2 my-0 shadow-sm" href="{{ path('over_ons') }}">Lokatie & contact</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}