{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card-body">
        <div class="container px-3">
            <h3 class="display-5">Welkom bij Training Factory Den Haag!</h3>
            <p class="px-5">Den Haag Training Factory is een sportschool waar onder proffesionele begeleiding
                in een <mark>veilige</mark> omgeving verschillende soorten <code>martial arts</code>- indoor <code>bootcamp</code>,
                personal- en small <code>group trainingen</code> worden aangeboden. Hier kan je je inschrijven op
                een les of uitschrijven op een les.</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
