{% extends 'base.html.twig' %}

{% block title %}Edit Lesson{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container card-body">
        <h1>Les wijzigen</h1>

        {{ include('medewerker/lesson/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
{% endblock %}
