{% extends 'base.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="container card-body">
        <h1>Les aanmaken</h1>

        {{ include('medewerker/lesson/_form.html.twig') }}

        <a class="btn btn-sm btn-outline-success" href="{{ path('medewerker_lesson_index') }}">Terug naar overzicht</a>
    </div>
{% endblock %}
