{% extends 'base.html.twig' %}

{% block content %}
    <div class="card-body">
        <h1>Gebruiker aanmaken</h1>

        {{ include('beheerder/person/_form.html.twig') }}

        <a href="{{ path('admin_lid_index') }}">Terug naar het overzicht</a>
    </div>
{% endblock %}
